<div class="form-group" id="divValue">
    <div class="btn-group" style="width: 100%;justify-content: center;">
        <div class="row" style="width: 100%;">
            <div class="col-6">
                <button type="button" class="btn btn-info form-control rounded font-weight-bold text-uppercase joinCltx" onclick="Join(0, this)" style="opacity: 0.5;">Chẵn </button>
            </div>
            <div class="col-6">
                <button type="button" class="btn btn-warning form-control rounded font-weight-bold text-uppercase text-white joinCltx" onclick="Join(1, this)" style="opacity: 0.5;">Lẻ </button>
            </div>
            <div class="col-6 mt-3">
                <button type="button" class="btn btn-success form-control rounded font-weight-bold text-uppercase joinCltx" onclick="Join(2, this)" style="opacity: 0.5;">Tài </button>
            </div>
            <div class="col-6 mt-3">
                <button type="button" class="btn btn-danger form-control rounded font-weight-bold text-uppercase text-white joinCltx" onclick="Join(3, this)" style="opacity: 0.5;">Xỉu </button>
            </div>
        </div>
    </div>
</div>